# Aqui se pone el nombre de los archivos o carpetas que no deseamos que se suba a un repositorio de manera automatica cuando se haga el git add -A
# En este caso pondremos el nombre del proyecto ya que le pusimos python -m venv entorno_flask
entorno_flask/
